[flake8]
max-line-length = 99
import-order-style = pep8
ignore =
    D100,D101,D102,D103,D104,D107,D400,D401,
    E121,E123,E126,E226,E24,E402,E704,
    N806,
    W503,W504,
exclude =
    .git,
    __pycache__,
    src/conf/__init__.py
